.lastResult {
    color: white;
    padding: 3px;
}

.box,
.bg-info {
    padding: 10px;
    color: black
}

.jeu {
    color: white;
}

h1 {
    color: black;
    border-radius: 8px 8px 0px 0px;
    font-family: 'Luckiest Guy', serif;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    cursor: crosshair;
    box-sizing: border-box;
}

body {
    -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
    from {
        padding: 0;
    }
    to {
        padding: 0;
    }
}

input[type=checkbox] {
    display: none;
}


/* styling */

h1 {
    position: fixed;
    z-index: -1;
    top: .25em;
    left: 8em;
    font-size: 1.3em;
    width: 14em;
    color: #666;
}

.can {
    display: inline-block;
    position: relative;
    height: 97.5px;
    width: 75px;
    background: red;
}

.can:before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -25px;
    top: 52%;
    margin-top: -25px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: #FFD700;
    z-index: 5;
}

.can:after {
    top: -5px;
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    border-radius: 50%;
    background-color: #808080;
    z-index: 10;
}

.lower {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 47.5px;
    background-color: #fffee4;
    z-index: 2;
}

.lower:before {
    width: 50%;
    height: 5px;
    position: absolute;
    border-radius: 50%;
    background-color: #F00;
    top: -5px;
    z-index: 0;
    content: "";
}

.lower:after {
    content: "";
    width: 50%;
    height: 5px;
    position: absolute;
    border-radius: 50%;
    background-color: #FFFEE4;
    top: 47.5px;
    z-index: -2;
}

.score {
    position: fixed;
    bottom: 0;
    left: 75%;
    color: #fff;
}


/*--------------checked---------*/

input:checked+label {
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: hit;
    -moz-animation-name: hit;
}

input:checked+label {
    counter-increment: bang;
}

input:checked~.score:after {
    content: counter(bang);
}


/********ANIMATION STYLES*********/

@-webkit-keyframes hit {
    0% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    10% {
        -webkit-transform: scale(0.9) rotate(72deg);
        opacity: 1;
    }
    20% {
        -webkit-transform: scale(0.8) rotate(144deg);
        opacity: 1;
    }
    30% {
        -webkit-transform: scale(0.7) rotate(216deg);
        opacity: 1;
    }
    40% {
        -webkit-transform: scale(0.6) rotate(288deg);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(0.5) rotate(360deg);
        opacity: 1;
    }
    60% {
        -webkit-transform: scale(0.4) rotate(432deg);
        opacity: 1;
    }
    70% {
        -webkit-transform: scale(0.3) rotate(504deg);
        opacity: 0.75;
    }
    80% {
        -webkit-transform: scale(0.2) rotate(576deg);
        opacity: 0.5;
    }
    90% {
        -webkit-transform: scale(0.1) rotate(648deg);
        opacity: 0.25;
    }
    100% {
        -webkit-transform: scale(0) rotate(720deg);
        opacity: 0;
        display: none;
    }
}

@-moz-keyframes hit {
    0% {
        -moz-transform: scale(1);
        opacity: 1;
    }
    10% {
        -moz-transform: scale(0.9) rotate(72deg);
        opacity: 1;
    }
    20% {
        -moz-transform: scale(0.8) rotate(144deg);
        opacity: 1;
    }
    30% {
        -moz-transform: scale(0.7) rotate(216deg);
        opacity: 1;
    }
    40% {
        -moz-transform: scale(0.6) rotate(288deg);
        opacity: 1;
    }
    50% {
        -moz-transform: scale(0.5) rotate(360deg);
        opacity: 1;
    }
    60% {
        -moz-transform: scale(0.4) rotate(432deg);
        opacity: 1;
    }
    70% {
        -moz-transform: scale(0.3) rotate(504deg);
        opacity: 0.75;
    }
    80% {
        -moz-transform: scale(0.2) rotate(576deg);
        opacity: 0.5;
    }
    90% {
        -moz-transform: scale(0.1) rotate(648deg);
        opacity: 0.25;
    }
    100% {
        -moz-transform: scale(0) rotate(720deg);
        opacity: 0;
        display: none;
    }
}

@-o-keyframes hit {
    0% {
        -o-transform: scale(1);
        opacity: 1;
    }
    10% {
        -o-transform: scale(0.9) rotate(72deg);
        opacity: 1;
    }
    20% {
        -o-transform: scale(0.8) rotate(144deg);
        opacity: 1;
    }
    30% {
        -o-transform: scale(0.7) rotate(216deg);
        opacity: 1;
    }
    40% {
        -o-transform: scale(0.6) rotate(288deg);
        opacity: 1;
    }
    50% {
        -o-transform: scale(0.5) rotate(360deg);
        opacity: 1;
    }
    60% {
        -o-transform: scale(0.4) rotate(432deg);
        opacity: 1;
    }
    70% {
        -o-transform: scale(0.3) rotate(504deg);
        opacity: 0.75;
    }
    80% {
        -o-transform: scale(0.2) rotate(576deg);
        opacity: 0.5;
    }
    90% {
        -o-transform: scale(0.1) rotate(648deg);
        opacity: 0.25;
    }
    100% {
        -o-transform: scale(0) rotate(720deg);
        opacity: 0;
        display: none;
    }
}

.lastResult {
    color: white;
    padding: 3px;
}

.box,
.bg-info {
    padding: 10px;
    color: black
}

h1 {
    color: white;
    border-radius: 8px 8px 0px 0px;
    font-family: 'Luckiest Guy', serif;
    text-align: center;
}

html {
    background-color: black;
}

.toure {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-top: 5%
}

.un {
    margin: auto;
    width: 45%;
}

.deux {
    margin: auto;
    width: 55%;
}

.trois {
    margin: auto;
    width: 65%;
}

.quatre {
    margin: auto;
    width: 70%;
}

.game-row {
    border-bottom: 5px solid #F00;
    overflow: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    margin-right: 40%
}

.lastResult {
    color: white;
    padding: 3px;
}

.box,
.bg-info {
    padding: 10px;
    color: white
}

.jeu {
    color: white;
}

h1 {
    color: white;
    border-radius: 8px 8px 0px 0px;
    font-family: 'Luckiest Guy', serif;
    text-align: center;
}