
        
        html{
          background-image:  url("ecran.png"),url(http://f.st-hatena.com/images/fotolife/c/cpan/20070607/20070607031510.png);
          background-repeat: no-repeat;  
          background-size: 100%; 
        }
        
        body {
            width: 50%;
            max-width: 800px;
            min-width: 480px;
            margin: 0 auto;
                  
        }
        
        .lastResult {
            color: white;
            padding: 3px;
        }
     
      .box, .bg-info {
        padding: 10px;
        color:black
        
      }

      .jeu{
        margin-top: 50%;
        color:black;
      }

     h1{
     
      color: black;
      border-radius:8px 8px 0px 0px;
      font-family: 'Luckiest Guy', serif;
      text-align: center;
      
     }